[flake8]
max-line-length = 120
# E203: пробел перед ':' (конфликтует с форматированием срезов black)
# W503/W504: разрыв строки до/после бинарного оператора
# F401: импорт не используется (isort может помочь решить, но flake8 все равно проверит)
# F403/F404: некоторые ошибки, связанные с импортами (также обрабатываются isort)
ignore = E203, W503, W504, F401, F403, F404
max-complexity = 10
