name: Deploy to EC2

on:
  pull_request:
    types: [ closed ]
    branches: [ main ]

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_KEY: ${{ secrets.EC2_KEY }}
          DOCKER_COMPOSE_FILE: ${{ secrets.DOCKER_COMPOSE_FILE }}
        run: |
          echo "$EC2_KEY" > key.pem
          chmod 400 key.pem

          rsync -avz --delete \
            -e "ssh -i key.pem -o StrictHostKeyChecking=no" \
            . $EC2_USER@$EC2_HOST:/home/ubuntu/article-hub-api-django/

          ssh -i key.pem -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST << 'EOF'
            cd /home/ubuntu/article-hub-api-django

            docker compose -f $DOCKER_COMPOSE_FILE --env-file .env down
            docker compose -f $DOCKER_COMPOSE_FILE --env-file .env build --no-cache
            docker compose -f $DOCKER_COMPOSE_FILE --env-file .env up -d

            echo "Deployment complete!"
            docker compose -f $DOCKER_COMPOSE_FILE --env-file .env ps
          EOF

          rm -f key.pem